
/* pc 1440*900 */
@media all and (min-device-width: 1367px) {
 body { width: 1440px; height: 1800px;}
}
/* tablet 768*1024 */
@media all  and (min-device-width: 415px) and (max-device-width: 768px){
 body {width: 768px; height: 7168px;}
#frame{
   width: 768px;
   height: 1024px;
 }
 h1 {
   font-family: "Zyablik";
   font-size: 40px;
   line-height: 40px;
   top: 25px;
 }
 p, a {
   font-family: "Pragmatical";
   font-size: 18px;
   line-height: 20px;
 }
 .sob {
  margin-left: 4.5vw;
 }
 .afkr {
   top: 53px;
   left: -120vw;
   transform: scale(0.7);
 }
 .zigzag {
   left: -100vw;
   transform: scale(1.7);
 }
 .afrika {
   top: 94px;
   left: -110vw;
   transform: scale(0.74);
 }
 .tbig {
  background-image: url('../images/g4.svg');
  width: 556px;
  height: 128px;
  top: 77px;
  left: 105vw;
 }
 .yze {
   display: block;
   position: relative;
   top: 104px;
   left: -100vw;
   width: 309px;
   height: 143px;
   background-image: url('../images/yze.svg');
   background-repeat: no-repeat;
   animation: yze 2s forwards;
   animation-delay: 4.3s;
 }
 .zigzag1 {
   display: block;
   position: relative;
   left: -100vw;
   top: 20px;
   width: 296px;
   height: 42px;
   transform: scale(1.7);
   background-image: url('../images/zigzag.svg');
   animation: zigzag1 2s forwards;
   animation-delay: 4.3s;
 }
 .ryadom {
   background-image: url('../images/ РЯДОМ.svg');
   width: 637px;
   height: 155px;
   top: 86px;
   left: -100vw;
 }
 .t {
   top: 64px;
 }
 .module2 p {
   width: 55vw;
 }
 .more h2 {
   top: 77px;
   left: 0;
 }
 .more p {
   top: 106px;
 }
 #smallph {
   width: 426px;
   transform: scale(0.5);
   left: -13.4vw;
 }
 .yarmi {
   top: 173px;
 }
 .affesti {
   top: 113px;
 }
 .afkitcheni {
  top: 132px;
 }
 .inf {
   display: block;
 }
 .txt {
   width: 75vw;
 }
 .txt p {
   top: 17px;
 }
 #bigph {
   transform: scale(0.8);
   width: 113.6vw;
   top: -560px;
   left: -6.8vw;
 }
 .circles {
   left: 52vw;
 }
.kon, .uar, .zam, .ken, .mar {
  display: none;
}
 .me {
   margin-left: 5vw;
 }
 .sotrud {
  display: none;
 }
 .support {
    margin-left: 8vw;
}
@keyframes afkr {
  0% {left:-120vw;}
  100% {left: -16.8vw;}
}
@keyframes zigzag {
  0% {left:-100vw;}
  100% {left: 16vw;}
}
@keyframes tbig {
  0% {left: 105vw;}
  100% {left: 18vw;}
}
@keyframes afrika {
  0% {left: -110vw;}
  100% {left: -12vw;}
}
@keyframes yze {
  0% {left: -100vw;}
  100% {left: 3vw;}
}
@keyframes zigzag1 {
  0% {left: -100vw;}
  100% {left: 63vw;}
}
@keyframes ryadom {
  0% {left: -100vw;}
  100% {left: 20vw;}
}
}
/* iphone 414*896*/
@media all and (max-device-width: 414px){
 body {
  width: 414px;
  height: 6272px;
}
.menu {
  height: 104px;
}
.affest, .shop, .we {
  position: relative;
  top: 37px;
  margin-left: 9vw;
}
.sob {
  margin-left: 15.5vw;
}
.map {
  margin-left: 16vw;
}
.affest {
 margin-left: -70vw;
}
.shop {
 margin-left: 13vw;
}
.we {
 margin-left: 16vw;
}
h1 {
  font-size: 30px;
  line-height: 30px;
  top: 122px;
  left: 1vw;
  width: 415px;
}
 p, a {
   font-family: "Pragmatical";
   font-size: 18px;
   line-height: 20px;
 }

 .afkr {
  display: none;
 }
 .zigzag {
   left: -100vw;
   top: 132px;
   transform: scale(1.7);
 }
 .afrika {
   background-image: url('../images/1gp.svg');
   width: 400px;
   height: 292px;
   top: 36px;
   left: 105vw;
 }
 .tbig {
  background-image: url('../images/g4.svg');
  width: 556px;
  height: 128px;
  top: 10px;
  left: 105vw;
 }
 .yze {
   display: block;
   position: relative;
   top: 104px;
   left: -100vw;
   width: 397px;
   height: 195px;
   background-image: url(../images/triangles.svg);
   transform: scale(0.7) rotate(180deg);
   background-repeat: no-repeat;
   animation: yze 2s forwards;
   animation-delay: 4.3s;
 }
 .zigzag1 {
   display: block;
   position: relative;
   left: -100vw;
   top: -126px;
   width: 296px;
   height: 42px;
   transform: scale(1.7);
   background-image: url('../images/zigzag.svg');
   animation: zigzag1 2s forwards;
   animation-delay: 4.3s;
 }
 .ryadom {
   background-image: url('../images/2gp.svg');
   width: 377px;
   height: 273px;
   top: -86px;
   left: -100vw;
 }
 .t {
   top: 64px;
 }
 .module2 p {
   width: 78vw;
 }
 .more {
   display: block;
 }
 .more h2 {
   top: 30px;
   left: 12vw;
 }
 .more p {
   top: 48px;
    width: 94vw;
 }
 .yarmarka {
   top: -17px;
   width: 100%;
 }
 .simon {
   top: -478px;
 }
 .afkitchen {
   top: -922px;
 }
 .afkitchen h2 {
   width: 52vw;
 }
 #smallph {
   display: none;
 }

 .inf {
   display: block;
 }
 .txt {
   top: 35px;
   width: 75vw;
 }
 .txt p {
   top: 17px;
 }
 #bigph {
   transform: scale(0.6);
   width: 144.6vw;
   top: -650px;
   left: -22.8vw;
   background-size: 700px auto;
   background-position: bottom;
 }
 .circles {
   left: 64vw;
 }
.kon, .uar, .zam, .ken, .mar {
  display: none;
}
 .contacts, .support, .sotrud {
   display: none;
 }
 .me {
   margin-left: 5vw;
 }
 @keyframes zigzag {
   0% {left:-100vw;}
   100% {left: 87vw;}
 }
 @keyframes tbig {
   0% {left: 105vw;}
   100% {left: 2.8vw;}
 }
 @keyframes afrika {
   0% {left: -110vw;}
   100% {left: 4vw;}
 }
 @keyframes yze {
   0% {left: -100vw;}
   100% {left: 25vw;}
 }
 @keyframes zigzag1 {
   0% {left: -100vw;}
   100% {left: 32vw;}
 }
 @keyframes ryadom {
   0% {left: -100vw;}
   100% {left: 4vw;}
 }
}
