
/* pc 1440*900 */
@media all and (min-device-width: 1367px) {
 body { width: 1440px; height: 1800px;}
}
/* tablet 768*1024 */
@media all  and (min-device-width: 415px) and (max-device-width: 768px){
 body {width: 768px; height: 2048px;}
 .f1, .f2 {
   height: 1024px;
   width: 768px;
 }

 .f2 {
   display: block;
   height: 651px;
 }
 .sob {
  margin-left: 4.5vw;
 }
 h1 {
   font-family: "Zyablik";
   font-size: 40px;
   line-height: 40px;
   top: 25px;
 }
 p, a {
   font-family: "Pragmatical";
   font-size: 18px;
   line-height: 20px;
 }
 .about, .form {
   width: 100%;
 }
 h2 {
  top: 48px;
 }
 .form h2 {
  margin-left: 4vw;
 }
 input, select {
  margin-left: 4vw;
 }
 .i4 {
  left: 29vw;
 }
 .b1 {
   left: 33vw;
 }
 .inf {
   top: 230px;
    padding-left: 68px;
 }
 .ok {
   top: 426px;
    width: 59vw;
 }
 .ok button {
  margin-left: 25vw;
 }
 .futter {
  top: 976px;
 }
 .me {
   margin-left: 5vw;
 }
 .sotrud {
  display: none;
 }
 .support {
    margin-left: 8vw;
}
}
/* iphone 414*896*/
@media all and (max-device-width: 414px){
 body {
  width: 414px;
  height: 1792px;
}
.menu {
  height: 104px;
}
.affest, .shop, .we {
  position: relative;
  top: 37px;
  margin-left: 9vw;
}
.sob {
  margin-left: 15.5vw;
}
.map {
  margin-left: 16vw;
}
.affest {
 margin-left: -70vw;
}
.shop {
 margin-left: 13vw;
}
.we {
 margin-left: 16vw;
}

h1 {
  font-size: 30px;
  line-height: 30px;
  top: 122px;
  left: 1vw;
  width: 415px;
}
 p, a {
   font-family: "Pragmatical";
   font-size: 18px;
   line-height: 20px;
 }
 .f1, .f2 {
   height: 1024px;
   width: 768px;
 }

 .f2 {
   display: block;
   height: 651px;
 }
 h1 {
   font-family: "Zyablik";
   font-size: 40px;
   line-height: 40px;
   top: 25px;
 }
 p, a {
   font-family: "Pragmatical";
   font-size: 18px;
   line-height: 20px;
 }
 .about, .form {
   width: 100%;
 }
 .about {
   width: 414px;
   height: 609px;
   background-size: auto 100%;
 }
 h2 {
  top: 48px;
 }
 .about h2 {
   width: 96vw;
 }
 .form h2 {
  margin-left: 4vw;
 }
 input, select {
  margin-left: 4vw;
 }
 #big {
   width: 374px;
 }
 #small {
  width: 179px;
 }
 .i4 {
  left: 48vw;
 }
 .b1 {
   left: 51vw;
 }
 .inf {
   top: 235px;
    margin-left: -91px;
 }
 .ok {
   top: 217px;
   width: 59vw;
 }
 .ok button {
  margin-left: 21vw;
 }
 .futter {
  top: 730px;
 }
 .contacts, .support, .sotrud {
   display: none;
 }
 .me {
   margin-left: 5vw;
 }
}
